@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container-fluid">
    <div id="Register-content">
        <form class="form-register">
            <p class="title-register">Register</p>
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <th>Name: </th>
                    <th>
                        <label>
                            <input required="" placeholder="" type="email" class="input">
                            <span>Name</span>
                        </label>
                    </th>
                </tr>
                <tr>
                    <th>Birthday: </th>
                    <th>
                        <label>
                            <input required="" placeholder="" type="date" class="input">
                        </label>
                    </th>


                </tr>

                <tr>
                    <th>
                        Email:
                    </th>
                    <th>
                        <label>
                            <input required="" placeholder="" type="email" class="input">
                            <span>Email</span>
                        </label>

                    </th>
                </tr>

                <tr>
                    <th>
                        Phone:
                    </th>
                    <th>
                        <label>
                            <input required="" placeholder="" type="email" class="input">
                            <span>Phone</span>
                        </label>
                    </th>
                </tr>

                <tr>
                    <th>
                        Address:
                    </th>
                    <th>
                        <label>
                            <input required="" placeholder="" type="text" class="input">
                            <span>Address</span>
                        </label>
                    </th>
                </tr>

                <tr>
                    <th>Username: </th>
                    <th>
                        <label>
                            <input required="" placeholder="" type="text" class="input">
                            <span>Username</span>
                        </label>
                    </th>
                </tr>
                <tr>
                    <th>Password: </th>
                    <th>
                        <label>
                            <input required="" placeholder="" type="password" class="input">
                            <span>Password</span>
                        </label>
                    </th>
                </tr>
                <tr>
                    <th>Confirm Password: </th>
                    <th>
                        <label>
                            <input required="" placeholder="" type="password" class="input">
                            <span>Password</span>
                        </label>
                    </th>
                </tr>




            </table>
            <button class="submit">Submit</button>
            <p class="signin"> <a href="~/Views/Account/Register.cshtml">Already have an acount ?</a> <a href="#">Signin</a> </p>
        </form>

    </div>
</div><!-- /.container -->
