
@{
    ViewBag.Title = "text";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>text</h2>

"></script>
<style>
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }

    .carousel-inner img {
        width: 100%; /* Set width to 100% */
        margin: auto;
        min-height: 200px;
    }

    .bg-3 {
        background-color: #ffffff;
        color: #555555;
    }

    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
</style>
</head>
<body>

    <div id="test hovergallery img  hovergallery img:hover">

        <div class="row container-fluid bg-3 text-center">

            <marquee behavior="scroll" direction="right" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="5" width="100%">
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
            </marquee>


            <marquee behavior="scroll" direction="leght" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="5" width="100%">
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
            </marquee>

        </div>

        <!--
            Hieu ung 2
        -->


        <marquee behavior="scroll" direction="leght" scrollamount="5" width="100%">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                <img src="~/Content/Images/Home/korea.jpg" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                <img src="~/Content/Images/Home/korea.jpg" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                <img src="~/Content/Images/Home/korea.jpg" alt="Fjords" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </marquee>

    </div>



    <!--
        Hieu ung 3
    -->

    <div class="container-fluid bg-3 text-center">
        <h3>Where To Find Me?</h3><br>
        <div class="row">
            <marquee behavior="scroll" direction="right" scrollamount="5" width="100%">
                <div class="col-sm-4 text-center">
                    <p>KOREA.</p>
                    <img src="~/Content/Images/Home/korea.jpg" alt="Image" width="350" height="300">
                </div>
            </marquee>
            <marquee behavior="scroll" direction="leght" scrollamount="5" width="100%">
                <div class="col-sm-4 text-center">
                    <p>JAPAN.</p>
                    <img src="~/Content/Images/Home/korea.jpg" alt="Image" width="350" height="300">
                </div>
            </marquee>
            <marquee behavior="scroll" direction="right" scrollamount="5" width="100%">
                <div class="col-sm-4 text-center">
                    <p>THAILAND.</p>
                    <img src="~/Content/Images/Home/korea.jpg" alt="Image" width="350" height="300">
                </div>
            </marquee>
            <marquee behavior="scroll" direction="leght" scrollamount="5" width="100%">
                <div class="col-sm-4 text-center">
                    <p>CAMPUCHIA.</p>
                    <img src="~/Content/Images/Home/korea.jpg" alt="Image" width="350" height="300">
                </div>
            </marquee>
        </div>
    </div>


</body>
</html>