
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container-fluid">
    <div class="bg-air">

    </div>
    <section class="roberto-about-area section-padding-100-0 card-search">

        <div class="hotel-search-form-area edit-form">
            <div class="container-fluid">
                <div class="hotel-search-form">
                    <form action="#" method="post">
                        <div class="row justify-content-between align-items-end">
                            <div class="col-6 col-md-2 col-lg-3">
                                <label for="Placego">Place Go</label>
                                <input type="text" class="form-control" id="placego" name="placeleave">
                            </div>
                            <div class="col-6 col-md-2 col-lg-3">
                                <label for="Placeleave">Place Leave</label>
                                <input type="text" class="form-control" id="placeleave" name="placeleave">
                            </div>
                            <div class="col-6 col-md-2 col-lg-3">
                                <label for="Daygo">Day Go</label>
                                <input type="date" class="form-control" id="daygo" name="daygo">
                            </div>
                            <div class="col-6 col-md-2 col-lg-3">
                                <label for="Dayleave">Day leave</label>
                                <input type="date" class="form-control" id="dayleave" name="dayleave">
                            </div>
                            <div class="col-6 col-md-2 col-lg-3">
                                <label for="Timego">Time Go</label>
                                <input type="time" class="form-control" id="timego" name="timego">
                            </div>
                            <div class="col-4 col-md-1">
                                <label for="room">People</label>
                                <select name="people" id="people" class="form-control">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                </select>
                            </div>
                            <div class="col-4 col-md-1">
                                <label for="adults">Ticket Adults</label>
                                <select name="adults" id="adults" class="form-control">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                </select>
                            </div>
                            <div class="col-4 col-md-2 col-lg-1">
                                <label for="children">Ticket Children</label>
                                <select name="children" id="children" class="form-control">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="form-control btn btn-primary w-100">Check Availability</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    @*/* crolling radius*/*@
    <div class="crolling-radius-air">
        <h2>Place Special In VietNam</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>
                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>

                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>
                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>
                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>

                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>

                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>

                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>
                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>

                <div class="swiper-slide"><img src="~/Content/Images/Home/Tour/INTSIDE/Cần Thơ - Đà Lạt/coffee.jpg" class="img-air-place" /></div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper', {
        slidesPerView: 3,
        direction: getDirection(),
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            resize: function () {
                swiper.changeDirection(getDirection());
            },
        },
    });

    function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

        return direction;
    }
</script>
