
@{
    ViewBag.Title = "Real";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="bar-search-air row">
        <div class="col-2 large-form">
            <label for="Placego"><i class="fa-light fa-plane"></i>Place Go</label>
            <input type="text" class="form-control" id="placego" name="placego" placeholder="Place Go">
        </div>
        <div class="col-2 large-form">
            <label for="Placeleave"><i class="fa-regular fa-location-dot"></i>Place Leave</label>
            <input type="text" class="form-control" id="placeleave" name="placeleave">
        </div>
        <div class="col-2 large-form">
            <label for="Placeleave"><i class="fa-regular fa-location-dot"></i>Day Go</label>

            <input type="date" class="form-control" id="daygo" name="daygo" placeholder="Day Go">

        </div>
        <div class="col-2 large-form">
            <label for="Dayleave"><i class="fa-regular fa-location-dot"></i>Day Leave</label>

            <input type="date" class="form-control" id="daygo" name="dayleave" placeholder="Day Leave">

        </div>
        <div class="col-2 large-form">
            <label for="passenger"><i class="fa-regular fa-location-dot"></i>Passenger</label>

            <input type="number" class="form-control" id="daygo" name="daygo" placeholder="Passenger">

        </div>
        <div style="margin-top: 32px;margin-left: 30px;">
            
           <button class="btn btn-primary">Search</button>

        </div>
    </div>

    <div class="body-air">
        <div class="bar-infor">

        </div>
        <div class="embrace">
            <div class="select-infor">

                <div class="select-day">
                    <div class="item-day">

                    </div>
                </div>
                <div class="select-day">
                    <div class="item-day">

                    </div>
                </div>
                <div class="select-day">
                    <div class="item-day">

                    </div>
                </div>
                <div class="select-day">
                    <div class="item-day">

                    </div>
                </div>
                <div class="select-day">
                    <div class="item-day">

                    </div>
                </div>


            </div>
       <div class="price-infor">
           
       </div>
            <div class="sale-air">

            </div>
        </div>
    </div>
</div>

