﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="menu">
        <div class="row">
            <div class="col-sm">Time</div>
            <div class="col-sm ">Clean All</div>
        </div>
        <div>
            <label for="customRange">Can Tho - Ha Noi</label>
            <input type="range" class="custom-range" id="customRange" name="points1">
            <label for="customRange">Ho Chi Minh City - Nhat ban</label>
            <input type="range" class="custom-range" id="customRange" name="points1">
            <i class="fa-thin fa-slash" style="color: black;"></i>
        </div>
        <div class="row">
            <div class="col-sm">Airlines</div>
            <div class="col-sm ">Clean All</div>
        </div>
        <div class="main container">
            <input type="checkbox" id="defaultCheck" name="example2">
            <label for="defaultCheck">Air China</label> <br />
            <input type="checkbox" id="defaultCheck" name="example2">
            <label for="defaultCheck">All Nippon Airways</label> <br />
            <input type="checkbox" id="defaultCheck" name="example2">
            <label for="defaultCheck">Asiana Airlines</label><br />
            <i class="fa-thin fa-slash" style="color: black;"></i>
        </div>
        <div class="main container">
            <div class="row">
                <div class="col-sm">Stops</div>
                <div class="col-sm ">Clean All</div>
            </div>
        </div>
        <div class="main container">
            <input type="checkbox" id="defaultCheck" name="example2">
            <label for="defaultCheck">Direct</label> <br />
            <input type="checkbox" id="defaultCheck" name="example2">
            <label for="defaultCheck">1 Stop</label> <br />
            <input type="checkbox" id="defaultCheck" name="example2">
            <label for="defaultCheck">2 Stops+</label><br />
        </div>
        <div class="main container">
            <div class="row">
                <div class="col-sm">Price</div>
                <div class="col-sm ">Clean All</div>
            </div>
        </div>
        <div class="main container">
            <input type="range" class="custom-range" id="customRange" name="points1">
            <p>Under 43 hours</p>
        </div>
        <div class="main container">
            <div class="row">
                <div class="col-sm">Duration</div>
                <div class="col-sm ">Clean All</div>
            </div>
        </div>
        <div class="main container">
            <input type="checkbox" id="defaultCheck" name="example2">
            <label for="defaultCheck">Mixed</label> <br />
            <input type="checkbox" id="defaultCheck" name="example2">
            <label for="defaultCheck">Economy</label> <br />
        </div>
    </div>

    <div class="main container mt-3">
        <div class="d-inline-flex p-3 bg-secondary text-white text-w">
            <button class="button"></button>
            <button class="button">Blue</button>
            <button class="button">Red</button>
            <button class="button">Gray</button>
            <button class="button">Black</button>
        </div>
        <div class="main container"></div>
        <div class="clearfix">
            <div class="box" style="background-color:#bbb">
                <p>Some text inside the box.</p>
            </div>
            <div class="box" style="background-color:#ccc">
                <p>Some text inside the box.</p>
            </div>
            <div class="box" style="background-color:#ddd">
                <p>Some text inside the box.</p>
            </div>
        </div>
        <div class="main container">
            <div>
                <h3> Showing 92 flights from BKK to SGN</h3>
                <p> Price per passenger includes tax and fees</p>
            </div>

        </div>
        <div>
            <div class="clearfix">
                <div class="box">
                    <a>Eco</a>
                    <a> <i class="fas fa-plane"></i> </a>
                    <a> <i class="fas fa-suitcase"></i></a>
                </div>
                <div class="box">
                    <div>
                        11:45
                        <i class="fa-solid fa-plane" style="color: #c0c0c0;"></i>
                        <i class="fa-thin fa-slash" style="color: #c0c0c0;"></i>
                        <i class="fa-solid fa-location-dot" style="color: #c0c0c0;"></i>
                    </div>
                </div>
                <div class="box">
                    <p>Some text inside the box.</p>
                </div>
            </div>
        </div>

        <div>
            <div class="clearfix">
                <div class="box">
                    <a>Eco</a>
                    <a> <i class="fas fa-plane"></i> </a>
                    <a> <i class="fas fa-suitcase"></i></a>
                </div>
                <div class="box">
                    <div>
                        11:45
                        <i class="fa-solid fa-plane" style="color: #c0c0c0;"></i>
                        <i class="fa-thin fa-slash" style="color: #c0c0c0;"></i>
                        <i class="fa-solid fa-location-dot" style="color: #c0c0c0;"></i>
                    </div>
                </div>
                <div class="box">
                    <p>Some text inside the box.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="clearfix">
                <div class="box">
                    <a>Eco</a>
                    <a> <i class="fas fa-plane"></i> </a>
                    <a> <i class="fas fa-suitcase"></i></a>
                </div>
                <div class="box">
                    <div>
                        11:45
                        <i class="fa-solid fa-plane" style="color: #c0c0c0;"></i>
                        <i class="fa-thin fa-slash" style="color: #c0c0c0;"></i>
                        <i class="fa-solid fa-location-dot" style="color: #c0c0c0;"></i>
                    </div>
                </div>
                <div class="box">
                    <p>Some text inside the box.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="clearfix">
                <div class="box">
                    <a>Eco</a>
                    <a> <i class="fas fa-plane"></i> </a>
                    <a> <i class="fas fa-suitcase"></i></a>
                </div>
                <div class="box">
                    <div>
                        11:45
                        <i class="fa-solid fa-plane" style="color: #c0c0c0;"></i>
                        <i class="fa-thin fa-slash" style="color: #c0c0c0;"></i>
                        <i class="fa-solid fa-location-dot" style="color: #c0c0c0;"></i>
                    </div>
                </div>
                <div class="box">
                    <p>Some text inside the box.</p>
                </div>
            </div>
        </div>

    </div>
</div>