* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/*Css Reuse*/
.underlist {
    list-style: none;
}

.container-fluid,
.carousel-control-next,
.carousel-control-next-icon {
    padding: 0;
    overflow: hidden;
}
/* */
.header-logo {
    margin: -2em -1em 0 12em;
    width: 150px;
    height: 150px;
}

.sub-menu {
    font-size: 15px;
    font-weight: 600;
    color: #ff6a00;
    word-spacing: 1px;
    letter-spacing: 1px;
}

#header {
    height: 118px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 1;
    /*    margin-left: 52em;*/
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
    position: absolute;
    z-index: 100;
}

    #nav > li {
        display: inline-block;
    }

    #nav li {
        position: relative;
    }

    #nav > li > a {
        color: #000;
        text-transform: uppercase;
    }

    #nav li:hover .subnav {
        display: block;
    }

    #nav .subnav li:hover a {
        color: #fff;
        background-color: #5ab503;
    }

.margin-menu {
    margin: 1em 0 0 0;
}

#nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 32px;
    font-family: "Helvetica","Arial",sans-serif;
    display: block;
}

#nav li:hover a {
    color: #ff6a00;
}
.fa-water:before {
    content: "\f773";
    margin-left: 7px;
}

.fa-stripe-s,
.fa-globe-europe,
.fa-paper-plane,
.fa-mobile,
.fa-sign-in,
.fa-fire,
.fa-clipboard {
    display: block;
    text-align: center;
    font-size: 30px;
    opacity: 0.7;
}

.login {
    margin: .3em .2em 0 0;
    float: right;
}

#content {
    position: relative;
    height: calc(100% - 118px);
    top: 118px;
}

.item-travel {
    width: 350px;
    height: 450px;
    border: 1px solid #000;
}

.autumn-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2.5px;
    font-family: Arial;
    margin: 2em 0;
}

.childtitle-tour {
    opacity: .5;
    display: inline-block;
    margin: 12px 0 16px 16px;
}

.img-tour {
    width: 350px;
    height: 250px;
    border: 1px solid #000;
    position: relative;
}

.have-tour {
    opacity: .5;
    float: right;
    padding: 8px 16px 16px 0;
}

.title-nametour {
    padding: 24px 0 0 16px;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    word-spacing: 1px;
    letter-spacing: .5px;
}

.link-detailtour {
    text-decoration: none;
}

.timeline-tour {
    display: block;
    width: 40%;
    height: 40px;
    float: right;
    margin: -65% -19.5% 0 0;
    background-color: #ff891e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-buy {
    background-color: #ff891e;
    outline: none;
    border: none;
    width: 30%;
    padding: 5px 10px;
    float: right;
    margin-top: .7em;
    margin-right: .3em;
}

.time-line {
    margin: .5em 0 0 .5em;
    color: #fff;
}

.carousel-img {
    width: 100%;
}

#footer {
    background-color: #000;
    bottom: 0;
    margin-top: 10em;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.parallax {
    background-image: url('../Images/Home/korea.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1em;
    opacity: 0.8;
}

.hot-tour {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Bungee Shade', sans-serif;
    color: #D80032;
    text-align: center;
}

.content-boxlax {
    width: 500px;
    height: 100%;
    background-color: transparent;
    float: right;
    margin-right: 5em;
}

.headercontent-content {
    margin-top: 1em;
    padding: 1em 2em 0 2em;
    color: #fff;
    word-spacing: 1px;
    font-size: 32px;
}

.navcontent-content {
    padding: 1em 4.1em 0 4.1em;
    color: #fff;
    word-spacing: 1px;
}

.content-header {
    background-color: #FFB000;
}

.btn-seemore {
    margin: 1em 0 2em 4em;
}

.thumnailtet-content {
    width: 100%;
    box-shadow: 2px 3px #ccc;
    transition: .5s;
}

.thumnailtet-href:hover img,
.thumnaildiscount-href:hover img {
    transform: scale(1.05);
    transition: .5s;
}

.box-trending {
    width: 100%;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
}

.box-img-trending {
    width: 100%;
    height: 250px;
    transition: 1s;
}


.overlay {
    position: absolute;
    bottom: 37%;
    left: 4%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 92%;
    height: 0;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.box-trending:hover .overlay {
    height: 10%;
}

.box-have-trending {
    color: #999;
    margin-left: .5em;
}

.box-newpost-trending {
    margin-left: .5em;
    text-decoration: underline;
    color: #777;
}

    .box-newpost-trending:hover {
        color: #999;
    }

.box-content-trending {
    margin: 1em 0 0 .5em;
    word-spacing: 1px;
    font-weight: 600;
}

.box-contenthref-trending {
    color: #000;
}

    .box-contenthref-trending:hover {
        text-decoration: none;
        color: #000;
        opacity: 0.7;
    }

.form-contact {
    width: 100%;
    height: 200px;
    background-color: #ccc;
}

.title-contact {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.box-standard {
    width: 100%;
    height: 120px;
    border: 1px solid #000;
    border-radius: 10px;
}
/*css account- login*/
#background {
    background-image: url('../Images/Home/korea.jpg');
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.form {
    display: inline-block;
    margin-top: 100px;
    flex-direction: column;
    height: 320px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.title {
    font-size: 28px;
    color: #ff6a00;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

    .title::before, .title::after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        left: 0px;
        background-color: red;
    }

    .title::before {
        width: 18px;
        height: 18px;
        background-color: #ff6a00;
    }

    .title::after {
        width: 18px;
        height: 18px;
        animation: pulse 1s linear infinite;
    }

.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

    .signin a {
        color: royalblue;
    }

        .signin a:hover {
            text-decoration: underline royalblue;
        }

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

    .form label .input {
        width: 300px;
        padding: 10px 10px 20px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
    }

        .form label .input + span {
            position: absolute;
            left: 10px;
            top: 15px;
            color: grey;
            font-size: 0.9em;
            cursor: text;
            transition: 0.3s ease;
        }

        .form label .input:placeholder-shown + span {
            top: 15px;
            font-size: 0.9em;
        }

        .form label .input:focus + span, .form label .input:valid + span {
            top: 30px;
            font-size: 0.7em;
            font-weight: 600;
        }

        .form label .input:valid + span {
            color: green;
        }

.submit {
    width: 100px;
    border: none;
    outline: none;
    background-color: deepskyblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

    .submit:hover {
        background-color: #ff6a00;
    }

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
/*css-account- register*/
#Register-content {
    background-image: url(https://cdn.pixabay.com/photo/2013/10/09/02/27/lake-192990_1280.jpg);
    height: 1000px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: left;
}

.form-register {
    display: inline-block;
    margin-top: 100px;
    flex-direction: column;
    height: 670px;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 5px #888888;
    margin-left: 100px;
}

    .form-register p.title-register {
        font-size: 28px;
        color: #ff6a00;
        font-weight: 600;
        letter-spacing: -1px;
        align-items: center;
    }



.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form-register label {
    position: relative;
}

    .form-register label .input {
        width: 300px;
        padding: 10px 10px 20px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
    }

        .form-register label .input:hover {
            width: 300px;
            padding: 10px 10px 20px 10px;
            outline: 0;
            border: 1px solid #ff6a00;
            border-radius: 10px;
        }

        .form-register label .input + span {
            position: absolute;
            left: 10px;
            top: 15px;
            color: grey;
            font-size: 0.9em;
            cursor: text;
            transition: 0.3s ease;
        }

.Avatar {
    position: relative;
    right: 80px;
    color: gray;
}

.form-register label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form-register label .input:focus + span, .form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form-register label .input:valid + span {
    color: green;
}
/*Tour*/
.roberto-about-area {
    position: relative;
    z-index: 1;
}

    .roberto-about-area .hotel-search-form-area {
        position: absolute;
        width: 100%;
        z-index: 100;
        top: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

        .roberto-about-area .hotel-search-form-area .nice-select {
            line-height: 35px;
        }

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.hotel-search-form-area {
    position: relative;
    z-index: 1;
    padding-left: 10%;
    padding-right: 10%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hotel-search-form-area {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hotel-search-form-area {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media only screen and (max-width: 767px) {
    .hotel-search-form-area {
        padding-left: 0%;
        padding-right: 0%;
    }
}

.hotel-search-form-area .hotel-search-form {
    position: relative;
    z-index: 1;
    width: 100%;
    box-shadow: 1px 1px 15px 5px #888888;
    padding: 40px 40px 0 40px;
    border-radius: 10px;
    background-color: #fff;
}

@media only screen and (max-width: 767px) {
    .hotel-search-form-area .hotel-search-form {
        padding: 30px 30px 0 30px;
    }
}

.hotel-search-form-area .hotel-search-form label {
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .hotel-search-form-area .hotel-search-form label {
        font-size: 13px;
    }
}

.hotel-search-form-area .hotel-search-form .form-control {
    width: 100%;
    margin-bottom: 40px;
    height: 50px;
    border: 1px solid #ebebeb;
    font-size: 13px;
}

@media only screen and (max-width: 767px) {
    .hotel-search-form-area .hotel-search-form .form-control {
        margin-bottom: 30px;
    }
}

.hotel-search-form-area .hotel-search-form .form-control:focus {
    box-shadow: none;
    border-color: #1cc3b2;
}

.hotel-reservation--area {
    position: relative;
    z-index: 1;
}

    .hotel-reservation--area label,
    .hotel-reservation--area .range-price {
        font-size: 18px;
        display: block;
        margin-bottom: 15px;
    }

    .hotel-reservation--area .form-control {
        width: 100%;
        height: 50px;
        text-align: left !important;
        font-size: 14px;
        padding: 0 20px;
        border-radius: 0 !important;
    }

        .hotel-reservation--area .form-control:focus {
            box-shadow: none;
            border-bottom-color: #1cc3b2;
        }

    .hotel-reservation--area button {
        border-radius: 30px !important;
    }

.roberto-btn {
    position: relative;
    z-index: 1;
    min-width: 150px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 40px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1cc3b2;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

    .roberto-btn:focus, .roberto-btn:hover {
        font-weight: 500;
        -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
        box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
        background-color: #ffffff;
        color: #1cc3b2;
    }

    .roberto-btn.btn-2 {
        min-width: 180px;
        height: 50px;
        line-height: 46px;
        border: 2px solid #1cc3b2;
        background-color: transparent;
        color: #ffffff;
    }

        .roberto-btn.btn-2:focus, .roberto-btn.btn-2:hover {
            color: #ffffff;
            background-color: #1cc3b2;
        }


.Tour-bg {
    background-size: 100%;
    height: 500px;
    text-align: center;
    background-image: url(https://media.istockphoto.com/id/1324017792/vi/anh/%E1%BA%A3nh-ch%E1%BB%A5p-t%E1%BB%AB-tr%C3%AAn-cao-tuy%E1%BB%87t-%C4%91%E1%BA%B9p-c%E1%BB%A7a-s%C3%A0i-g%C3%B2n-th%C3%A0nh-ph%E1%BB%91-h%E1%BB%93-ch%C3%AD-minh-v%E1%BB%81-%C4%91%C3%AAm.jpg?s=1024x1024&w=is&k=20&c=-cE6gl-vh5s2S_lkmG0bGOC4jBv8KfdxIAHJ0sdSWBY=);
}

.text-t {
    display: inline-block;
    font-size: 100px;
    color: #fff;
    width: 100%;
    margin-top: 200px;
}

.content-tour {
    display: flex;
    width: 95%;
    height: 650px auto;
    background-color: #eeeaea;
    padding-left: 30px;
    margin-top: 20px;
    margin-left: 30px;
    border-start-start-radius: 10px;
}
.search-item {
    position: relative;
right: 10px;
    padding-left: 30px;
    width: 300px;
    height: 500px;
    margin-top: 20px;
    margin-right: 10px;
    box-shadow: 1px 1px 15px 5px #888888;
    background-color: #fff;
    /*border-start-start-radius: 10px;
    border-start-end-radius: 10px;*/
    border-radius: 10px;
}

    .search-item ul {
        height: 50px;
        margin-top: 30px;
    }

        .search-item ul li {
            height: 50px;
            width: 250px;
            border-bottom: 1px solid #999;
            margin-top: 10px;
        }

            .search-item ul li a {
                color: #000;
            }

                .search-item ul li a:hover {
                    color: blue;
                    font-size: 20px;
                    text-decoration: none;
                }

            .search-item ul li:hover {
                height: 50px;
                border-bottom: 1px solid #999;
                text-decoration: none;
            }
.start {
    display: flex;
    position: absolute;
    margin-left: 12px;
    margin-top: -16px;
}
.fa-star:before {
    padding: 2px;
    content: "\f005";
}
.item-tour {
    position: relative;
    left: 15px;
    width: 910px;
    height: 250px;
    display: flex;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #888888;
}

    .item-tour img {
        vertical-align: middle;
    }

.img-tour {
    width: 400px;
    height: 180px;
    border: 0px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 15px;
    position: relative;
}
.w3-display-container img {
    vertical-align: middle;
}
.w3-display-container{
position: relative;
max-width: 800px;
margin: 0 auto;
}

.w3-display-container .content-infor {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    height: 170px;
    display: none;
    
}
.w3-display-container:hover .content-infor {
    display: block;
    transition: 0.7s;
}


.content-infor p {
    font-size: 14px;
}

.content {
    position: absolute;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 20px;
    margin-top: 166px;
    margin-left: 16px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    width: 268px;
    height: 50px;
    display: none;
}

.item-tour:hover div.content {
    position: absolute;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 20px;
    margin-top: 166px;
    margin-left: 16px;
    border-end-end-radius: 10px;
    width: 268px;
    display: block;
    height: 50px
}
.container {
    position: relative;
}

/* Hide the images by default */

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 7px;

}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active, .demo:hover {
        opacity: 1;
    }


.tc {
    font-size: 15px;
}

.text-item-tour {
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.btt {
}

.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    position: absolute;
    right: 210px;
}

.is-active {
    position: absolute;
    transition-duration: 1s;
    background-position: -2800px 0;
}

.stage {
    position: absolute;
    left: 280px;
    bottom: 75px;
    transform: translate(-50%, -50%);
}
.next {
    right: 7px;
    position: absolute;
    margin-top: 1px;
    
}
.prev{
    margin-top: 1px;
}
.btn_bf{
    display: flex;
    margin-top: -4px;
}
.pro_1 {
    text-align: center;
    left: 20px;
    width: 90px;
    height: 30px;
    box-shadow: 1px 1px 1px 1px #888888;
    position: relative;
    border-radius: 3px;
    
}
.pro_2 {
    border-radius: 3px;
    text-align: center;
    left: 20px;
    width: 50px;
    height: 30px;
    box-shadow: 1px 1px 1px 1px #888888;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.sea-view {
    display: flex;
    text-align: center;
    left: 20px;
    width: 100px;
    height: 25px;
    position: relative;
    background-color: lightblue;
    color: dodgerblue;
    border-radius: 10px;
    font-weight: 700;
    margin-top: -2px;
}
.sea-view p {
    margin-left: 16px;
    margin-top: 1px;
}
.sea-view i{

}
.sale-off{
    color: #fff;
    background-color: red;
    width: 200px;
    font-weight: 500;
    margin-top: 30px;
}
.price{
    font-size: 25px;
    color: #999;
    margin-left: 15px;
  
}
.price-real {
    font-size: 30px;
    color: red;
    position: absolute;
    margin-top: -18px;
    margin-left: 22px;
}

del{
 color: red;
}
.price u {
    color: #999;
}
.price p {
    color: #999;
}
.red-text {
    position: relative;
    display: flex;
    padding: 5px;
}
    .red-text p {
        left: 10px;
        margin-left: 10px;
        margin-top: -4px;
    }
.fa-flag:before {
    content: "\f024";
    margin-left: 10px;
}
.title-price{
    text-align: center;
    margin-left: 150px;
}
.sale-off-1 {
    margin-top: 10px;
    color: #fff;
    background-color: darkblue;
    font-weight: 500;
    width: 200px;
}
.title-price i {
    text-align: right;
    margin-left: 5px;
}
.title {
    text-align: center;
    padding: 30px;
    z-index: 2;
    font-family: 'Brush Script MT', cursive;
    position: relative;
}
.start-cheap{
margin-left: 1px;
font-size: 20px;
font-family: monospace;
display: flex
}
.show-more{
    display: none;
}
.text-more {
    background-color: #fff;
    border: 0px;
}
.text-more:hover{
    color: darkblue;
}
    .text-more:focus {
        color: black;
        text-align: left;
    }
.text-more:focus p.show-more {
    display:block; 
    color: black;
    text-align: left;
}
.cheap-row{
    padding-left: 70px;
}
.picture {
    border-top: 10px;
}
.cheap-tour {
}
.item-cheap{

}
.title-tour-cheap{
    display: flex;
}
.swiper {
    width: 100%;
}
.swiper-wrapper{
    width: 100%;
}
.swiper-slide {
    margin-right: 0px;
    font-size: 18px;
    background: #fff;
    display: flex;
    
    width: 250px;

}

    .swiper-slide img {
        display: block;
       margin-top: 10px;
        object-fit: cover;
    }

.swiper {
    width: 990px;
    height: auto;
    margin: 20px auto;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

    .append-buttons button {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #007aff;
        color: #007aff;
        text-decoration: none;
        padding: 4px 10px;
        border-radius: 4px;
        margin: 0 10px;
        font-size: 13px;
    }
    .mySwiper{
        width: 100%;
    }
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px;
}

.img {
    height: 100%;
    width: 100%;
}


@media (max-width: 800px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.myLink {
    display: none
}

h1 {
    text-shadow: 2px 2px 5px red;
}

h2 {
    font-size: 46px;
    font-family: "Trirong", serif;
}
﻿body {
    height: 100%;
}

#testimonials {
    background-color: var(--light-grey);
}

.test-item {
    border: 2px solid var(--light-grey);
    padding: 2rem 1rem;
    position: relative;
    background-color: #fff;
    border-radius: 0.2rem;
    margin: 2rem 0 14rem 0;
}

    .test-item::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #fff;
    }

.test-item-info {
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}

    .test-item-info img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: 1rem;
    }

    .test-item-info h3 {
        font-size: 1rem;
    }
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 900px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }

img.hover-shadow {
    transition: 0.3s;
    margin-bottom: 10px;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

swiper-container {
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.thu-nghiem-zoom img {
    display: block;
    transition: all .3s ease;
}

    .thu-nghiem-zoom img:hover {
        transform: scale(1.3); /* cỡ zoom khi di chuột vào */
    }

.thu-nghiem-zoom div {
    display: block;
    overflow: hidden;
}
.ma-vy{
    margin-top: 200px;
}
.col-md-2 .thu-nghiem-zoom a img.Avatar{
    width: 180px;
}
.content-hot{
    height: 300px;
    width: 90%;
   border-radius: 10px;
    margin-top: 150px;
}
    .content-hot:hover {
        margin-left: -23px;
        width: 95%;
        box-shadow: 1px 1px 15px 5px #abd9ff;
    }
    /*xong tour*/
    /*airplane*/

.bg-air {
    background-image: url('../Images/Home/korea.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
}
.edit-form {
  
}
.swiper {
   width: 950px;
   height: 320px;
   margin-top: 30px;

}
.swiper-wrapper{
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    height: 320px;
    width: 150px !important;
    
}
    .swiper-slide swiper-slide-active{
        width: 150px;
    }
    .img-air-place {
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
.crolling-radius-air{
    margin-top: 100px;
    text-align: center;
}
.crolling-radius-air h2 {
    color: black;
    font-family: cursive;
}

/*trang test*/
.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px;
}

.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    width: 100%;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .button.not (:disabled) {
        cursor: pointer;
        width: 116px;
        height: 100px;
    }

.text-w {
    width: 100%;
}
/*reAL*/
.large-form{
    margin-left: 10px;
}
.bar-search-air{
    background-color: #0f124b;
    height: 100px;

   
    color: #fff;
}
.body-air{
    background-color: #e1dede;
    width: 100%;
    height: 100%;
    display: flex;
}
.bar-infor {
    background-color: #fff;
    border-radius: 20px;
    height: 1000px;
    width: 270px;
    box-shadow: 1px 1px 15px 5px #888888;
    margin-left: 10px;
    position: relative;
    top: 10px;
   
}
.select-infor{
    display: flex;
}
.select-day {
    display: flex;
}
.item-day {
    border-radius: 17px;
    width: 150px;
    margin-left: 10px;
    height: 70px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 5px #888888;
    position: relative;
    top: 10px;
    left:30px;
}
.price-infor {
    border-radius: 10px;
    width: 790px;
    background-color: #fff;
    height: 100px;
    box-shadow: 1px 1px 8px 5px #888888;
    position: relative;
    top: 40px;
    left: 40px;
}
.sale-air {
    border-radius: 10px;
    width: 790px;
    background-color: #9bef91;
    height: 85px;
    box-shadow: 0px 1px 1px 1px #888888;
    position: relative;
    top: 42px;
    left: 40px;

}
/*footer*/
    /*#footer {
    height: 450px;
    background-color: darkblue;
    color: #fff;
}

div.col-sm-4 {
    padding: 0 0 0 0;
    width: 100%;
}

.text_footer {
    padding: 40px;
}

.map_footer {
    width: 250px;
    height: 140px;
}

.website-counter {
    font-size: 40px;
    color: red;
}

.avatar_vi  sitor {
    height: 30px;
    width: 30px;
}*/
